*{
    margin: 0 auto;
    padding: 0;
    max-width: 100%;
    max-height: 450vh;
}
body {
    background-color: #f4f4f4;
    font-family: 'Protest Strike', serif;
    color: #ffffff;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.logo {
    grid-column: 2/2;
}

.logo {
    grid-column: 2/2;
    padding: 25px;
}
  
button {
    background-color: transparent;
    position: relative;
    color: #fff;
    border-radius: 8px;
    border: none;
    padding: 15px 30px;
    width: auto;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 25px;
    font-weight: 900;
}

button:hover {
    background-color: #e8e8e821;
    color: rgb(37, 37, 37);
}

h1 {
    display: flex;
    font-weight: bold;
    font-weight: 800;
    font-size: 48px;
    justify-content: center;
    color: #fbfbfb;
    margin: 0;
    padding-bottom: 30px;   
}

p {
    background-color: #f4f4f412;
    border-radius: 8px;
    grid-row: 1/3;
    grid-column: 1/2;
    font-weight: 600;
    font-size: 19px;
    line-height: 1.8;
    text-shadow: black;
    font-weight: 200;
    max-width: 700px;
    text-align: center;
    margin-bottom: 20px;
}
p:hover{
    color: rgb(204, 204, 204);
}

.main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 40px 20px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;
    height: 100%;
}

.nav {
    grid-row: 1/1;
    grid-column: 1/1;
    background-color: transparent;
    display: flex;
    justify-content: start;
    border-radius: 8px;
}

#myVideo {
    grid-row: 1/3;
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }


.footer{
    grid-column: 2/3;
    grid-row: 3/3;
    font-size: larger;
    font-weight: 400;
}

.food{
    object-fit:cover;
    grid-column: 2/3;
    grid-row: 2/3;
    width: 400px;
    height: 400px;
    margin: 24px;
    border-radius: 18px;
}


.food:hover{
    width: 415px;
    height: 415px;
    transition: ease-in-out .5s;
    border-radius: 19px;
}

.bigHermano{
    object-fit:cover;
    grid-column: 2/3;
    grid-row: 2/3;
    width: 300px;
    height: 300px;
    margin: 24px;
    border-radius: 18px;
}   
.smallHermano{
    object-fit:cover;
    grid-column: 2/3;
    grid-row: 2/3;
    width: 300px;
    height: 300px;
    margin: 24px;
    border-radius: 18px;
}   
.spicyHermano{
    object-fit:cover;
    grid-column: 2/3;
    grid-row: 2/3;
    width: 300px;
    height: 300px;
    margin: 24px;
    border-radius: 18px;
}   
.eggyHermano{
    object-fit:cover;
    grid-column: 2/3;
    grid-row: 2/3;
    width: 300px;
    height: 300px;
    margin: 24px;
    border-radius: 18px;
}   
.breakieHermano{
    object-fit:cover;
    grid-column: 2/3;
    grid-row: 2/3;
    width: 300px;
    height: 300px;
    margin: 24px;
    border-radius: 18px;
}   
.juicyHermano{
    object-fit:cover;
    grid-column: 2/3;
    grid-row: 2/3;
    width: 300px;
    height: 300px;
    margin: 24px;
    border-radius: 18px;
    
}   

.desc{
    font-size: 17px;
    background-color: rgba(255, 255, 255, 0.062);
}

.juicyHermano:hover{
    width: 305px;
    height: 305px;
    transition: ease-in-out .5s;
    cursor: pointer;
}
.spicyHermano:hover{
    width: 305px;
    height: 305px;
    cursor: pointer;
    transition: ease-in-out .5s;
}
.smallHermano:hover{
    width: 305px;
    height: 305px;
    transition: ease-in-out .5s;
    cursor: pointer;
}
.bigHermano:hover{
    width: 305px;
    height: 305px;
    transition: ease-in-out .5s;
    cursor: pointer;
}
.eggyHermano:hover{
    width: 305px;
    height: 305px;
    transition: ease-in-out .5s;
    cursor: pointer;
}

.desc:hover{
    color: rgb(204, 204, 204);
}
